client/eslint.config.js
client/node_modules/.bin/acorn
/client/node_modules
server/node_modules/yallist/dist/commonjs/index.d.ts
server/node_modules/yallist/dist/esm/index.d.ts
server/package-lock.json
server/node_modules/yallist/dist/esm/index.js.map
server/node_modules/yallist/LICENSE.md
server/node_modules/.bin/node-gyp
/server/node_modules/.bin
/server/node_modules
client/package-lock.json
node_modules/
package-lock.json
node_modules/
.env
dist/
client/node_modules/
server/node_modules/
database/node_modules/
node_modules/
package-lock.json
client\package-lock.json
.env
app.db
db.sqlite
/client
client/package-lock.json
/client
client/package-lock.json
