client/eslint.config.js
client/node_modules/.bin/acorn
/client/node_modules
server/node_modules/yallist/dist/commonjs/index.d.ts
server/node_modules/yallist/dist/esm/index.d.ts
server/package-lock.json
server/node_modules/yallist/dist/esm/index.js.map
server/node_modules/yallist/LICENSE.md
server/node_modules/.bin/node-gyp
/server/node_modules/.bin
/server/node_modules
client/package-lock.json
