node_modules/
.env
dist/
client/node_modules/
server/node_modules/
database/node_modules/
node_modules/
package-lock.json
.env
app.db
db.sqlite
server/package-lock.json
client/eslint.config.js
/server
*.json
server/package-lock.json
*.json
/server
